@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" oncontextmenu="return false;">
    <!--<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/colorpicker.css" />
    <link rel="stylesheet" href="./css/editor.css" />

    <div id="editor-wrap">

        <div class="color-picker-module">
            <div id="currentColor"></div>
            <div class="color-wrap">
                <div style="background-color: black"></div>
                <div style="background-color: white"></div>
                <div style="background-color: red"></div>
                <div style="background-color: green"></div>
                <div style="background-color: blue"></div>
                <div style="background-color: orange"></div>
                <div style="background-color: yellow"></div>
                <div style="background-color: purple"></div>
                <div style="background-color: brown"></div>
                <div style="background-color: deeppink"></div>
                <div style="background-color: gray"></div>
                <div style="background-color: chocolate"></div>
                <div style="background-color: gold"></div>
                <div style="background-color: teal"></div>
                <div style="background-color: navy"></div>
                <div style="background-color: darkorange"></div>
                <div style="background-color: royalblue"></div>
                <div style="background-color: aqua"></div>
                <div style="background-color: palegreen"></div>
                <div style="background-color: darkolivegreen"></div>
                <div style="background-color: yellowgreen"></div>
                <div style="background-color: aquamarine"></div>
            </div>
        </div>

        <div id="wrap">
            <canvas id="canvas"></canvas>
        </div>

    </div>


    <script src="./js/colorpicker.js"></script>
    <script src="./js/apicaller.js"></script>
    <script src="./js/canvas.js"></script>


</div>
